button {
    margin-right: 8px;
}

button i,
.btn svg {
    color: white;
}

.btn-warning {
    background-color: #f39c12;
    border-color: #f39c12;
}

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-warning, .btn-danger {
    margin: 5px;
}

.delete-confirm {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete-confirm p {
    color: white;
    font-size: 18px;
}

.delete-confirm button {
    margin-top: 10px;
}