.page-title {
  text-align: left;
  margin-left: 20px;
}

.dropdown-button {
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 10px;
}