.box {
  height: 100vh;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__image {
    img {
      height: 600px;
      width: 600px;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      object-fit: contain;
    }
  }

  &__form {
    width: 450px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .btn-group {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;

      .btn-check:checked+.btn {
        background-color: black;
        color: white;
      }

      .options {
        
        border: 1px solid black;
        width: 33%;
        border-radius: 10px !important;
        margin: 0;
        overflow: hidden;

        label {
          padding: 6px 12px;
          width: 100%;
          border: none;
          color: black;
          font-weight: 500;
          font-size: 0.85rem;
  
          &:hover {
            background-color: black;
            color: white;
            border: 1px solid black;
            margin: 0;
          }
        }
      }
    }

    .input-box {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 20px 0;
    }

    .button-login {
      border: 2px solid black;
      background-color: #ddd;
      color: black;
      font-weight: bold;

      &:hover {
        background: black;
        color: white;
      }
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      button {
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-style: italic;
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #d9d9d9;
        opacity: 0.8;

        &:hover {
          background-color: black;
          color: white;
          opacity: 1;
        }
      }
    }
  }
}
