.navbar {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
  height: 80px;
  position: relative;
  width: auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  border-radius: 10px;
  margin: 0 20px;
}

.navbar-icons .icon {
  margin-left: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.navbar-icons .icon:hover {
  opacity: 0.8;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 200px; /* Giới hạn độ rộng cho thanh tìm kiếm */
  margin-top: 15px;
  flex-grow: 1;
  left: 200px;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding-right: 50px; /* Tạo khoảng trống để nút bấm nằm trong thanh */
}

.search-bar .ant-btn {
  position: absolute;
  background-color: #444;
  color: white;
  top: 50%;
  right: 10px;
  transform: translateY(-73%) translateX(240%);
  border-radius: 20%;
  padding: 0;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
}

.navbar .right {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: relative;
  margin-right: 100px;
  margin-left: 50px;
}
.navbar .cart {
  margin: 0px 20px;
}
.navbar .login {
  margin: 0px 20px;
}
.navbar .right svg {
  width: 24px;
  height: 24px;
}
