.home-container {
  background-color: #f9f9f9;
  padding-bottom: 20px;
}

.home-header {
  background-image: url(../../assets/images/banner3.jpg);
  height: 100vh;
  background-size: cover; /* Tự động phóng to để ảnh vừa với chiều rộng và chiều cao */
  background-position: center; /* Căn giữa ảnh nền */
  text-align: center;
}

.home-products {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.commit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1140px;
  color: #000;
}
/* commit là mấy cái icon dưới banner */
.commit span {
  vertical-align: middle;
}

.commit svg {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.home-products h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  color: #000;
  margin: 35px;
}

.card {
  border: 1px solid #ddd; /* Viền mỏng màu xám nhạt */
  background-color: #fff; /* Màu nền trắng */
  text-align: center; /* Canh giữa nội dung */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
  width: 200px;
}

.card img {
  width: 100%; /* Để hình ảnh chiếm toàn bộ chiều rộng thẻ */
  height: auto;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.card .price {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.card .number {
  font-size: 14px;
  color: #777;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product-card {
  border: 1px solid #ddd; /* Viền mỏng màu xám nhạt */
  background-color: #fff; /* Màu nền trắng */
  text-align: center; /* Canh giữa nội dung */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
  width: 200px;
  margin-bottom: 25px;
}

.product-card img {
  width: 100%; /* Để hình ảnh chiếm toàn bộ chiều rộng thẻ */
  height: auto;
}

.product-image {
  width: 100%; /* Để hình ảnh chiếm toàn bộ chiều rộng thẻ */
  height: auto;
  margin-bottom: 20px;
}

.product-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.product-card .price {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
.product-card .number {
  font-size: 14px;
  color: #777;
}

.xemthem {
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: #444;
  color: white;
  justify-content: center;
  padding: auto;
  font-size: 13px;
  padding-inline: 10px;
  font-weight: 450;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .product-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .product-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
