/* Chỉ ảnh hưởng tới phần search-page */
.search-page {
  padding-top: 20px;
}

/* CSS cho các bộ lọc */
.search-page .filters-section {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  height: fit-content;
  position: sticky;
  top: 100px;
  left: 0;
  margin-bottom: 20px;
}

.search-page .filters-section h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

.search-page .filters-section .form-label {
  font-weight: bold;
}

.search-page .filters-section .form-check {
  margin-bottom: 10px;
}

.search-page .filters-section button {
  margin-top: 15px;
}

.search-page .pagination .page-item.active .page-link {
  background-color: #ff5722;
  border-color: #ff5722;
}

.search-page .dropdown-toggle {
  border-radius: 8px;
}

/* Khoảng cách giữa các hàng */
.search-page .row.g-3 {
  row-gap: 0px;
}
