.search-page {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 20px auto;
  flex: 1;
  background-color: #f8f9fa;
}

.sidebar {
  width: 170px;
  padding: 20px;
  background-color: #fff;
  border-right: 1px solid #ccc;
}

.sidebar h2 {
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.sidebar ul {
  list-style-type: none; /* Bỏ các dấu chấm ở đầu danh sách */
  padding: 0; /* Bỏ padding mặc định */
  margin: 0 auto; /* Căn giữa danh sách */
  width: 100%; /* Đặt chiều rộng của danh sách để ngang với sidebar */
}


.sidebar li {
  margin-bottom: 10px; /* Khoảng cách giữa các dòng */
}

.sidebar li > div {
  padding-left: 15px; /* Thêm padding trái cho các item */
}


.product-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.product-area h2 {
  margin-left: 50px;
}
.product-area div label {
  margin-left: 40px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 170px);
  gap: 20px 40px;
  padding: 20px;
  justify-content: center;
}

.product-item {
  width: 170px; /* Đảm bảo chiều rộng 170px */
  height: 360px; /* Giảm chiều cao một chút để vừa với khung */
  padding: 5px; /* Giảm padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Đặt nội dung ở trên cùng */
  align-items: center; /* Canh giữa nội dung */
}

.product-item img {
  width: 100%; /* Ảnh chiếm 100% chiều rộng của khung */
  height: auto; /* Chiều cao tự động để giữ tỷ lệ */
  object-fit: cover; /* Cắt hình ảnh để lấp đầy khung mà không làm biến dạng */
  border-radius: 4px; /* Bo tròn cho hình ảnh */
}

.product-item h3, 
.product-item p {
  margin: 5px 0; /* Giảm khoảng cách giữa các phần tử */
  font-size: 14px; /* Giảm kích thước font */
  text-align: center; /* Canh giữa chữ */
}


.pagination {
  display: flex;
  align-items: center;
}

.pagination span {
  margin-left: 40px;
  margin-right: 40px;
}

.nav-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.nav-button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.page-numbers button {
  background: white;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.page-numbers button:hover {
  background-color: #f0f0f0;
}

.page-numbers .active {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .search-page {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .product-list {
    width: 100%;
    padding: 10px;
  }
}
